body {
  background-image: url("../images/LKgif.gif");
  background-size: cover;
  background-position: center;
}

body, ul, ol {

  border: 15px solid rgb(0, 0, 0);
  text-align: center;
}

h2 {
  font-size: 20px;
  color: white;
}

h1 {
  font-size: 48px;
  color: rgb(238, 255, 6);
  border: 5px solid white;
}

p#bio {
  height: 500px;
  width: fit-content;
  font-family: Helvetica;
  color: white;
  font-size: 30px;
}

p{
  font-family: Helvetica;
  color: rgb(255, 255, 255);
  border: 20px outset rgb(106, 106, 228);
  padding: 20px;
  text-emphasis: bold;
  margin-bottom: 10px;
}

ul, ol { 
  font-family: Impact;
  color: rgb(247, 247, 247);
  line-height: 150%;
}

ul#nav li { 
  display: inline;
  float: center;
  text-align: center;
  margin: 20px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;

}